In [1]:
import pandas as pd

In [2]:
%%time
portland = pd.read_csv("master/portland_master.csv")
san_diego = pd.read_csv("master/san_diego_master.csv")
san_jose = pd.read_csv("master/san_jose_master.csv")
denver = pd.read_csv("master/denver_master.csv")
nypd = pd.read_csv("master/nypd.csv")
los_angeles = pd.read_csv("master/LA_master.csv")
fortsworth = pd.read_csv("master/fortsworth_master.csv")
phoenix = pd.read_csv("master/phoenix.csv")
chicago = pd.read_csv("master/chicago_master.csv")
dc = pd.read_csv("master/dc_master.csv")

/home/bh_parijat/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0,8,9,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/bh_parijat/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (1,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/bh_parijat/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/bh_parijat/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/bh_parijat/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/bh_parijat/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
nypd['city'] = 'new_york'
nypd['state'] = 'new_york'

In [4]:
schema_columns = ['key','date','city','offense category','state','race','sex','age_group','zipcode','geo_x','geo_y']

In [5]:
data = [portland,san_jose,san_diego,dc,nypd,phoenix,denver,chicago,fortsworth,los_angeles]
data2 = data[:]

In [6]:
shape  = 0
for d in data:
    print(d.shape)
    shape += d.shape[0]
    
print(shape)

(268397, 16)
(5308430, 18)
(500332, 20)
(153687, 28)
(4792747, 23)
(284631, 9)
(472786, 21)
(7084356, 24)
(80281, 19)
(1329881, 19)
20275528

In [7]:
for d in data:
    cols = d.columns
    for c in schema_columns:
        if c not in cols:
            d[c] = None

In [8]:
for i,d in enumerate(data):
    data[i] = data[i].loc[:,schema_columns]

In [9]:
data[0].columns

Index(['key', 'date', 'city', 'offense category', 'state', 'race', 'sex',
       'age_group', 'zipcode', 'geo_x', 'geo_y'],
      dtype='object')

In [10]:
data[0].head()

,key,date,city,offense category,state,race,sex,age_group,zipcode,geo_x,geo_y
0,16-X4472988,1/1/2016,portland,Assault Offenses,oregon,None,None,None,None,NaN,NaN
1,16-X4473035,1/1/2016,portland,Assault Offenses,oregon,None,None,None,None,NaN,NaN
2,16-X4473043,1/1/2016,portland,Assault Offenses,oregon,None,None,None,None,NaN,NaN
3,16-X4473057,1/1/2016,portland,Assault Offenses,oregon,None,None,None,None,NaN,NaN
4,16-X4473081,1/1/2016,portland,Assault Offenses,oregon,None,None,None,None,NaN,NaN

In [11]:
los_angeles[schema_columns]

,key,date,city,offense category,state,race,sex,age_group,zipcode,geo_x,geo_y
0,5805106,11/21/2019,los angeles,None,california,None,M,None,None,None,None
1,190127182,10/03/2019,los angeles,None,california,None,M,None,None,None,None
2,191119468,11/13/2019,los angeles,None,california,None,F,None,None,None,None
3,4265695,03/11/2015,los angeles,None,california,None,F,None,None,None,None
4,4280871,03/26/2015,los angeles,None,california,None,M,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
1329876,5612854,04/27/2019,los angeles,None,california,None,M,None,None,None,None
1329877,5612737,04/27/2019,los angeles,None,california,None,F,None,None,None,None
1329878,5612654,04/27/2019,los angeles,None,california,None,F,None,None,None,None
1329879,5612759,04/27/2019,los angeles,None,california,None,M,None,None,None,None
1329880,5612691,04/27/2019,los angeles,None,california,None,F,None,None,None,None

In [12]:
main_master = None

In [13]:
for d in data:
    if main_master is None:
        main_master = d
    else:
        main_master = pd.concat([main_master,d])

In [14]:
main_master.shape

(20275528, 11)

In [15]:
#main_master = pd.read_csv("~/data/master_crime.csv")

In [16]:
main_master.columns

Index(['key', 'date', 'city', 'offense category', 'state', 'race', 'sex',
       'age_group', 'zipcode', 'geo_x', 'geo_y'],
      dtype='object')

In [17]:
main_master.head()

,key,date,city,offense category,state,race,sex,age_group,zipcode,geo_x,geo_y
0,16-X4472988,1/1/2016,portland,Assault Offenses,oregon,None,None,None,None,NaN,NaN
1,16-X4473035,1/1/2016,portland,Assault Offenses,oregon,None,None,None,None,NaN,NaN
2,16-X4473043,1/1/2016,portland,Assault Offenses,oregon,None,None,None,None,NaN,NaN
3,16-X4473057,1/1/2016,portland,Assault Offenses,oregon,None,None,None,None,NaN,NaN
4,16-X4473081,1/1/2016,portland,Assault Offenses,oregon,None,None,None,None,NaN,NaN

In [18]:
main_master.city.value_counts()

chicago        7084356
san jose       5308430
new_york       4792747
los angeles    1329881
san diego       500332
denver          472786
phoenix         284631
portland        268397
DC              153687
fortsworth       80281
Name: city, dtype: int64

In [19]:
main_master.state.value_counts()

california    7138643
illinios      7084356
new_york      4792747
colorado       472786
arizona        284631
oregon         268397
washington     153687
texas           80281
Name: state, dtype: int64

In [20]:
main_master[main_master.state.isnull()].shape

(0, 11)

In [63]:
main_master[main_master.city.isnull()].shape

(0, 11)

In [21]:
for d in data:
    print(d.columns)

Index(['key', 'date', 'city', 'offense category', 'state', 'race', 'sex',
       'age_group', 'zipcode', 'geo_x', 'geo_y'],
      dtype='object')
Index(['key', 'date', 'city', 'offense category', 'state', 'race', 'sex',
       'age_group', 'zipcode', 'geo_x', 'geo_y'],
      dtype='object')
Index(['key', 'date', 'city', 'offense category', 'state', 'race', 'sex',
       'age_group', 'zipcode', 'geo_x', 'geo_y'],
      dtype='object')
Index(['key', 'date', 'city', 'offense category', 'state', 'race', 'sex',
       'age_group', 'zipcode', 'geo_x', 'geo_y'],
      dtype='object')
Index(['key', 'date', 'city', 'offense category', 'state', 'race', 'sex',
       'age_group', 'zipcode', 'geo_x', 'geo_y'],
      dtype='object')
Index(['key', 'date', 'city', 'offense category', 'state', 'race', 'sex',
       'age_group', 'zipcode', 'geo_x', 'geo_y'],
      dtype='object')
Index(['key', 'date', 'city', 'offense category', 'state', 'race', 'sex',
       'age_group', 'zipcode', 'geo_x', 'geo_y'],
      dtype='object')
Index(['key', 'date', 'city', 'offense category', 'state', 'race', 'sex',
       'age_group', 'zipcode', 'geo_x', 'geo_y'],
      dtype='object')
Index(['key', 'date', 'city', 'offense category', 'state', 'race', 'sex',
       'age_group', 'zipcode', 'geo_x', 'geo_y'],
      dtype='object')
Index(['key', 'date', 'city', 'offense category', 'state', 'race', 'sex',
       'age_group', 'zipcode', 'geo_x', 'geo_y'],
      dtype='object')

In [22]:
len(data)

10

In [23]:
main_master.to_csv('~/data/master_crime.csv',index = False)

In [24]:
main_master.dtypes

key                 object
date                object
city                object
offense category    object
state               object
race                object
sex                 object
age_group           object
zipcode             object
geo_x               object
geo_y               object
dtype: object

In [25]:
main_master= main_master.rename({'offense category':"offense_category"},axis = 1)

In [26]:
main_master.columns

Index(['key', 'date', 'city', 'offense_category', 'state', 'race', 'sex',
       'age_group', 'zipcode', 'geo_x', 'geo_y'],
      dtype='object')

In [27]:
main_master= main_master.rename({'key':"id"},axis = 1)

In [28]:
main_master.columns

Index(['id', 'date', 'city', 'offense_category', 'state', 'race', 'sex',
       'age_group', 'zipcode', 'geo_x', 'geo_y'],
      dtype='object')

In [29]:
for col in main_master.columns:
    main_master[col] = main_master[col].apply(lambda x:str(x))

In [30]:
main_master.head()

,id,date,city,offense_category,state,race,sex,age_group,zipcode,geo_x,geo_y
0,16-X4472988,1/1/2016,portland,Assault Offenses,oregon,None,None,None,None,nan,nan
1,16-X4473035,1/1/2016,portland,Assault Offenses,oregon,None,None,None,None,nan,nan
2,16-X4473043,1/1/2016,portland,Assault Offenses,oregon,None,None,None,None,nan,nan
3,16-X4473057,1/1/2016,portland,Assault Offenses,oregon,None,None,None,None,nan,nan
4,16-X4473081,1/1/2016,portland,Assault Offenses,oregon,None,None,None,None,nan,nan

In [44]:
main_master[main_master.state == "new_york"].head()

,id,date,city,state,race,sex,age_group,zipcode,geo_x,geo_y
0,173130602,12/31/2017,new_york,new_york,BLACK,M,25-44,11426.0,1063056.0,207463.0
1,173114463,12/31/2017,new_york,new_york,ASIAN / PACIFIC ISLANDER,M,25-44,11105.0,1009113.0,219613.0
2,173113513,12/31/2017,new_york,new_york,BLACK,M,18-24,11207.0,1010719.0,186857.0
3,173113423,12/31/2017,new_york,new_york,WHITE,M,25-44,10019.0,987831.0,217446.0
4,173113421,12/31/2017,new_york,new_york,BLACK,M,45-64,10036.0,987073.0,216078.0

In [38]:
main_master.offense_category = main_master.offense_category.apply(lambda x: x.replace(",",""))

In [34]:
main_master.iloc[5576840,:]

id                              1044984
date                2014-01-01 13:40:00
city                          san diego
offense_category       Moving Violation
state                        california
race                                  W
sex                                   M
age_group                            50
zipcode                            None
geo_x                               nan
geo_y                               nan
Name: 13, dtype: object

In [37]:
"hel,lo".replace(",","")

'hello'

In [41]:
main_master.offense_category.tail(10)

1329871    None
1329872    None
1329873    None
1329874    None
1329875    None
1329876    None
1329877    None
1329878    None
1329879    None
1329880    None
Name: offense_category, dtype: object

In [42]:
main_master = main_master.drop(columns=['offense_category'])

In [43]:
main_master.head()

,id,date,city,state,race,sex,age_group,zipcode,geo_x,geo_y
0,16-X4472988,1/1/2016,portland,oregon,None,None,None,None,nan,nan
1,16-X4473035,1/1/2016,portland,oregon,None,None,None,None,nan,nan
2,16-X4473043,1/1/2016,portland,oregon,None,None,None,None,nan,nan
3,16-X4473057,1/1/2016,portland,oregon,None,None,None,None,nan,nan
4,16-X4473081,1/1/2016,portland,oregon,None,None,None,None,nan,nan

In [46]:
main_master.to_csv("~/data/master_crime.csv",index = False)