In [1]:
import pandas as pd
import pathlib
import warnings
warnings.filterwarnings("ignore")

In [2]:
path = pathlib.Path().absolute()

In [3]:
path

PosixPath('/home/bh_parijat/data/crime/Crime')

In [4]:
nypd = pd.read_csv("NYPD/NYPD-master.csv")

In [5]:
chicago = pd.read_csv("Chicago/Chicago_Crimes_-_2001_to_present.csv")

In [6]:
denver = pd.read_csv("denver/crime.csv")

In [7]:
fortsworth = pd.read_csv("Fortsworth/Fortsworth_Crime_Data.csv")

In [8]:
LA = pd.read_csv("LA/Arrest_Data_from_2010_to_Present_LA.csv")

In [9]:
phoenix = pd.read_csv("Phoenix/crime-data_crime-data_Phoenix.csv")

In [10]:
sacramento = pd.read_csv("scaramento/Sacramento_Crime_Data_From_Two_Years_Ago.csv")

In [11]:
schema_map = {}

In [14]:
#nypd_columns

In [15]:
#chicago_columns

In [16]:
#denver_columns

In [17]:
#fortsworth_columns

In [18]:
#la_columns

In [19]:
#phoenix_columns

In [20]:
#san_hose_columns

In [21]:
#sacramento_columns

In [22]:
#tampa_columns

In [23]:
#pd.read_csv("/home/bh_parijat/data/crime/ArrByRace18.xlsx - 2018.csv").head(10)

In [24]:
def create_master(name):

    path_city = path / name
    files_city = [file for file in path_city.iterdir()]
    data_city = []

    for file in files_city:
        if "lock" not in str(file):
            
            data_city.append(pd.read_csv(file))
            print(file)
    
    #print(data_city[0].columns)
    #print(data_city[1].columns == data_city[1].columns)
    
    
    data_master = None

    for d in data_city:
        if data_master is  None:
            data_master = d
        else:
            data_master = pd.concat([data_master,d])
    file_name = name + ".csv"
    data_master.to_csv(file_name)
    return data_master

In [25]:
#data_portland[0].shape, data_portland[1].shape

In [26]:
san_diego = create_master("san diego")

/home/bh_parijat/data/crime/Crime/san diego/vehicle_stops_2014_datasd_v1.csv
/home/bh_parijat/data/crime/Crime/san diego/vehicle_stops_2016_datasd_v1.csv
/home/bh_parijat/data/crime/Crime/san diego/vehicle_stops_final_datasd_v1.csv
/home/bh_parijat/data/crime/Crime/san diego/vehicle_stops_2017_datasd_v1.csv
/home/bh_parijat/data/crime/Crime/san diego/vehicle_stops_2015_datasd_v1.csv

In [27]:
san_jose = create_master("san jose")

/home/bh_parijat/data/crime/Crime/san jose/policecalls2019.csv
/home/bh_parijat/data/crime/Crime/san jose/policecalls2004.csv
/home/bh_parijat/data/crime/Crime/san jose/policecalls2010.csv
/home/bh_parijat/data/crime/Crime/san jose/policecalls2007.csv
/home/bh_parijat/data/crime/Crime/san jose/policecalls2005.csv
/home/bh_parijat/data/crime/Crime/san jose/policecalls2008.csv
/home/bh_parijat/data/crime/Crime/san jose/policecalls2016.csv
/home/bh_parijat/data/crime/Crime/san jose/policecalls2013.csv
/home/bh_parijat/data/crime/Crime/san jose/policecalls2015.csv
/home/bh_parijat/data/crime/Crime/san jose/policecalls2018.csv
/home/bh_parijat/data/crime/Crime/san jose/policecalls2014.csv
/home/bh_parijat/data/crime/Crime/san jose/policecalls2017.csv
/home/bh_parijat/data/crime/Crime/san jose/policecalls2006.csv
/home/bh_parijat/data/crime/Crime/san jose/policecalls2009.csv
/home/bh_parijat/data/crime/Crime/san jose/policecalls2011.csv
/home/bh_parijat/data/crime/Crime/san jose/policecalls2012.csv

In [28]:
dc = create_master("DC")

/home/bh_parijat/data/crime/Crime/DC/Arrests 2014 Public_DC.csv
/home/bh_parijat/data/crime/Crime/DC/Arrests 2013 Public_DC.csv
/home/bh_parijat/data/crime/Crime/DC/Arrests 2017 Public_DC.csv
/home/bh_parijat/data/crime/Crime/DC/Arrests 2015 Public_DC.csv
/home/bh_parijat/data/crime/Crime/DC/Arrests 2016 Public_DC.csv

In [29]:
portland = create_master("Portland")

/home/bh_parijat/data/crime/Crime/Portland/CrimeData-2016_portland.csv
/home/bh_parijat/data/crime/Crime/Portland/CrimeData-2015_portland.csv
/home/bh_parijat/data/crime/Crime/Portland/CrimeData-2019_portland.csv
/home/bh_parijat/data/crime/Crime/Portland/CrimeData-2018_portland.csv
/home/bh_parijat/data/crime/Crime/Portland/CrimeData-2017_portland.csv

In [30]:
portland['state'] = 'oregon'
chicago['state'] = 'illinios'
denver['state'] = 'colorado'
fortsworth['state'] = 'texas'
LA['state'] = 'california'
phoenix['state'] = 'arizona'
sacramento['state'] = 'california'
san_diego['state'] = 'california'
san_jose['state'] = 'california'
dc['state'] = 'washington'

In [31]:
portland['city'] = 'portland'
chicago['city'] = 'chicago'
denver['city'] = 'denver'
fortsworth['city'] = 'fortsworth'
LA['city'] = 'los angeles'
phoenix['city'] = 'phoenix'
sacramento['city'] = 'sacramento'
san_diego['city'] = 'san diego'
san_jose['city'] = 'san jose'
dc['city'] = 'DC'

In [32]:
nypd_columns = nypd.columns
#boston_columns = pd.read_csv("boston/boston.csv").columns
chicago_columns = chicago.columns
denver_columns = denver.columns
fortsworth_columns = fortsworth.columns
la_columns = LA.columns
phoenix_columns = phoenix.columns
#portland_columns  = portland.columns
#san_diego = pd.read_csv("san diego/v")
#san_hose_columns = san_jose.columns
sacramento_columns = sacramento.columns
#tampa_columns = tampa.columns
portland_columns = portland.columns
san_diego_columns = san_diego.columns
san_jose_columns = san_jose.columns
dc_columns = dc.columns

In [33]:
print(san_diego.shape)
print(san_jose.shape)
print(dc.shape)
print(portland.shape)
print(nypd.shape)
print(chicago.shape)
print(sacramento.shape)
print(denver.shape)
print(fortsworth.shape)
print(LA.shape)

(500332, 20)
(5308430, 18)
(153687, 28)
(268397, 16)
(4792747, 21)
(7084356, 24)
(38084, 12)
(472786, 21)
(80281, 19)
(1329881, 19)

In [34]:
schema_map['portland'] = portland_columns
schema_map['san_diego'] = san_diego.columns
schema_map['san_jose'] = san_jose.columns
schema_map['dc'] = dc.columns
schema_map['new_york'] = nypd_columns
schema_map['phoenix'] = phoenix_columns
schema_map['denver'] = denver_columns
schema_map['chicago'] = chicago_columns
schema_map['fortsworth'] = fortsworth_columns
schema_map['LA'] = la_columns

In [35]:
for k in schema_map.keys():
    print(len(schema_map[k]))
    
    #print(schema_map[k])

16
20
18
28
21
9
21
24
19
19

In [36]:
for k in schema_map.keys():
    l = len(schema_map[k])
    
    schema_map[k] = list(schema_map[k])
    d = 29-l
    
    for i in range(d):
        schema_map[k].append(None)

In [37]:
schema_df = pd.DataFrame(data = schema_map)

In [38]:
schema_df.to_csv('schema.csv')

In [39]:
#portland_master.to_csv('portland_master.csv',index=False)

In [40]:
# print(portland.shape)
# portland = portland.dropna(axis=1)
# print(portland.shape)

In [41]:
#san_jose.head()
# print(san_jose.shape)
# san_jose = san_jose.dropna(axis=1)
# print(san_jose.shape)

In [42]:
#san_jose.head()

In [43]:
#san_diego.head(10)
#san_diego[san_diego.subject_race.isna()].shape
# print(san_diego.columns)
# print(san_diego.shape)
# san_diego = san_diego.dropna(axis=1)
# print(san_diego.shape)

In [44]:
# dc.head()
# print(dc.shape)
# dc = dc.dropna(axis=1)
# print(dc.shape)

In [45]:
# print(nypd.shape)
# nypd = nypd.dropna(axis=1)
# print(nypd.shape)

In [46]:
# phoenix.head()
# print(phoenix.shape)
# phoenix = phoenix.dropna(axis=1)
# print(phoenix.shape)
# phoenix.head()

In [47]:
# denver.head()
# print(denver.shape)
# denver = denver.dropna(axis=1)
# print(denver.shape)
#print(denver.columns)
# print(denver_columns)

In [48]:
#print(chicago.columns)

In [49]:
# print(chicago.shape)
# chicago = chicago.dropna(axis=1)
# print(chicago.shape)

In [50]:
#print(chicago.columns)

In [51]:
#fortsworth.head()

In [52]:
# print(fortsworth.shape)
# fortsworth = fortsworth.dropna(axis=1)
# print(fortsworth.shape)

In [53]:
#fortsworth.head()

In [54]:
# LA.head()
# print(LA.shape)
# LA = LA.dropna(axis=1)
# print(LA.shape)
# print(LA.columns)

In [55]:
#portland.head()

In [56]:
#pd.read_csv('Portland/CrimeData-2015_portland.csv').head()

In [57]:
nypd.head()

,index,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,...,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,org_index,zipcode
0,0,173130602,12/31/2017,566.0,"MARIJUANA, POSSESSION",678.0,MISCELLANEOUS PENAL LAW,PL 2210500,V,Q,...,0.0,25-44,M,BLACK,1063056.0,207463.0,40.735772,-73.715638,0.0,11426
1,1,173114463,12/31/2017,478.0,"THEFT OF SERVICES, UNCLASSIFIED",343.0,OTHER OFFENSES RELATED TO THEFT,PL 1651503,M,Q,...,0.0,25-44,M,ASIAN / PACIFIC ISLANDER,1009113.0,219613.0,40.769437,-73.910241,1.0,11105
2,2,173113513,12/31/2017,849.0,"NY STATE LAWS,UNCLASSIFIED VIOLATION",677.0,OTHER STATE LAWS,LOC000000V,V,K,...,1.0,18-24,M,BLACK,1010719.0,186857.0,40.679525,-73.904572,2.0,11207
3,3,173113423,12/31/2017,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,...,0.0,25-44,M,WHITE,987831.0,217446.0,40.763523,-73.987074,3.0,10019
4,4,173113421,12/31/2017,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,...,0.0,45-64,M,BLACK,987073.0,216078.0,40.759768,-73.989811,4.0,10036

In [58]:
data = [portland,san_jose,san_diego,dc,nypd,phoenix,denver,chicago,fortsworth,LA]

In [59]:
for d in data:
    print(d.shape)

(268397, 16)
(5308430, 18)
(500332, 20)
(153687, 28)
(4792747, 21)
(284631, 9)
(472786, 21)
(7084356, 24)
(80281, 19)
(1329881, 19)

In [60]:
for d in data:
    print(d.columns)
    print("****************************************************************************************")

Index(['Address', 'CaseNumber', 'CrimeAgainst', 'Neighborhood', 'OccurDate',
       'OccurTime', 'OffenseCategory', 'OffenseType', 'OpenDataLat',
       'OpenDataLon', 'OpenDataX', 'OpenDataY', 'ReportDate', 'OffenseCount',
       'state', 'city'],
      dtype='object')
****************************************************************************************
Index(['CDTS', 'EID', 'START_DATE', 'CALL_NUMBER', 'PRIORITY', 'REPORT_DATE',
       'OFFENSE_DATE', 'OFFENSE_TIME', 'CALLTYPE_CODE', 'CALL_TYPE',
       'FINAL_DISPO_CODE', 'FINAL_DISPO', 'COMMON_PLACE_NAME', 'ADDRESS',
       'CITY', 'STATE', 'state', 'city'],
      dtype='object')
****************************************************************************************
Index(['action', 'arrested', 'contraband_found', 'date_stop', 'date_time',
       'obtained_consent', 'property_seized', 'sd_resident', 'search_basis',
       'search_type', 'searched', 'service_area', 'stop_cause', 'stop_id',
       'subject_age', 'subject_race', 'subject_sex', 'time_stop', 'state',
       'city'],
      dtype='object')
****************************************************************************************
Index(['Arrestee Type', 'Arrest Year', 'Arrest Date', 'Arrest Hour', 'CCN',
       'Arrest Number#', 'Age', 'Defendant PSA', 'Defendant District',
       'Defendant Race', 'Defendant Ethnicity', 'Defendant Sex',
       'Arrest Category', 'Charge Description', 'Arrest Location PSA',
       'Arrest Location District', 'Arrest Location Block GeoX',
       'Arrest Location Block GeoY', 'Offense GEOY', 'Offense GEOX',
       'Offense PSA', 'Offense District', 'Arrest Latitude',
       'Arrest Longitude', 'Offense Latitude', 'Offense Longitude', 'state',
       'city'],
      dtype='object')
****************************************************************************************
Index(['index', 'ARREST_KEY', 'ARREST_DATE', 'PD_CD', 'PD_DESC', 'KY_CD',
       'OFNS_DESC', 'LAW_CODE', 'LAW_CAT_CD', 'ARREST_BORO', 'ARREST_PRECINCT',
       'JURISDICTION_CODE', 'AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'X_COORD_CD',
       'Y_COORD_CD', 'Latitude', 'Longitude', 'org_index', 'zipcode'],
      dtype='object')
****************************************************************************************
Index(['INC NUMBER', 'OCCURRED ON', 'OCCURRED TO', 'UCR CRIME CATEGORY',
       '100 BLOCK ADDR', 'ZIP', 'PREMISE TYPE', 'state', 'city'],
      dtype='object')
****************************************************************************************
Index(['INCIDENT_ID', 'OFFENSE_ID', 'OFFENSE_CODE', 'OFFENSE_CODE_EXTENSION',
       'OFFENSE_TYPE_ID', 'OFFENSE_CATEGORY_ID', 'FIRST_OCCURRENCE_DATE',
       'LAST_OCCURRENCE_DATE', 'REPORTED_DATE', 'INCIDENT_ADDRESS', 'GEO_X',
       'GEO_Y', 'GEO_LON', 'GEO_LAT', 'DISTRICT_ID', 'PRECINCT_ID',
       'NEIGHBORHOOD_ID', 'IS_CRIME', 'IS_TRAFFIC', 'state', 'city'],
      dtype='object')
****************************************************************************************
Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location', 'state', 'city'],
      dtype='object')
****************************************************************************************
Index(['Case and Offense', 'Case Number', 'Reported Date', 'Nature Of Call',
       'From Date', 'Offense', 'Description', 'Block Address', 'City', 'State',
       'Beat', 'Division', 'Council District', 'Attempt Complete',
       'Location Type', 'Location Description', 'Location', 'state', 'city'],
      dtype='object')
****************************************************************************************
Index(['Report ID', 'Arrest Date', 'Time', 'Area ID', 'Area Name',
       'Reporting District', 'Age', 'Sex Code', 'Descent Code',
       'Charge Group Code', 'Charge Group Description', 'Arrest Type Code',
       'Charge', 'Charge Description', 'Address', 'Cross Street', 'Location',
       'state', 'city'],
      dtype='object')
****************************************************************************************

In [61]:
schema_columns = ['key','date','city','offense category','state','race','sex','age_group','zipcode','geo_x','geo_y']

In [62]:
portland = portland.rename({
    'CaseNumber':'key',
    'OccurDate':'date',
    'OffenseCategory':'offense category',
    'OpenDataX':'geo_x',
    'OpenDataY':'geo_y'
},axis = 1)

In [63]:
portland.head()

,Address,key,CrimeAgainst,Neighborhood,date,OccurTime,offense category,OffenseType,OpenDataLat,OpenDataLon,geo_x,geo_y,ReportDate,OffenseCount,state,city
0,NaN,16-X4472988,Person,Centennial,1/1/2016,545,Assault Offenses,Intimidation,NaN,NaN,NaN,NaN,1/1/2016,1,oregon,portland
1,NaN,16-X4473035,Person,Centennial,1/1/2016,51,Assault Offenses,Simple Assault,NaN,NaN,NaN,NaN,1/1/2016,1,oregon,portland
2,NaN,16-X4473043,Person,Buckman West,1/1/2016,430,Assault Offenses,Simple Assault,NaN,NaN,NaN,NaN,1/1/2016,1,oregon,portland
3,NaN,16-X4473057,Person,Brooklyn,1/1/2016,1000,Assault Offenses,Intimidation,NaN,NaN,NaN,NaN,1/1/2016,1,oregon,portland
4,NaN,16-X4473081,Person,Buckman West,1/1/2016,400,Assault Offenses,Aggravated Assault,NaN,NaN,NaN,NaN,1/1/2016,1,oregon,portland

In [64]:

san_jose.head()

,CDTS,EID,START_DATE,CALL_NUMBER,PRIORITY,REPORT_DATE,OFFENSE_DATE,OFFENSE_TIME,CALLTYPE_CODE,CALL_TYPE,FINAL_DISPO_CODE,FINAL_DISPO,COMMON_PLACE_NAME,ADDRESS,CITY,STATE,state,city
0,20190111170312PS,7501469,1/11/2019 12:00:00 AM,P190110522,2,1/11/2019 12:00:00 AM,1/11/2019 12:00:00 AM,13:43:45,415A,"DISTURBANCE, FIGHT",N,No report required; dispatch record only,NaN,[1800]-[1900] LUKE CT,San Jose,CA,california,san jose
1,20190111170443PS,7501506,1/11/2019 12:00:00 AM,P190110547,3,1/11/2019 12:00:00 AM,1/11/2019 12:00:00 AM,14:18:48,422,CRIMINAL THREATS,N,No report required; dispatch record only,NaN,[1300]-[1400] E SAN ANTONIO ST,San Jose,CA,california,san jose
2,20190111170559PS,7501593,1/11/2019 12:00:00 AM,P190110619,3,1/11/2019 12:00:00 AM,1/11/2019 12:00:00 AM,15:28:38,484,THEFT,N,No report required; dispatch record only,TARGET,[500]-[600] COTTLE RD,San Jose,CA,california,san jose
3,20190111170607PS,7501684,1/11/2019 12:00:00 AM,P190110689,1,1/11/2019 12:00:00 AM,1/11/2019 12:00:00 AM,16:58:10,415W,"DISTURBANCE, WEAPON",N,No report required; dispatch record only,NaN,[300]-[400] BIRD AV,San Jose,CA,california,san jose
4,20190111170951PS,7501658,1/11/2019 12:00:00 AM,P190110670,2,1/11/2019 12:00:00 AM,1/11/2019 12:00:00 AM,16:30:37,415,DISTURBANCE,G,Gone on Arrival/unable to locate,NaN,E WILLIAM ST & S 5TH ST,San Jose,CA,california,san jose

In [65]:
san_jose.columns

Index(['CDTS', 'EID', 'START_DATE', 'CALL_NUMBER', 'PRIORITY', 'REPORT_DATE',
       'OFFENSE_DATE', 'OFFENSE_TIME', 'CALLTYPE_CODE', 'CALL_TYPE',
       'FINAL_DISPO_CODE', 'FINAL_DISPO', 'COMMON_PLACE_NAME', 'ADDRESS',
       'CITY', 'STATE', 'state', 'city'],
      dtype='object')

In [66]:
san_jose = san_jose.rename({
    "CDTS":"key",
    "OFFENSE_DATE":'date',
    "CALL_TYPE":'offense category'
},axis=1)

In [67]:

san_diego.columns

Index(['action', 'arrested', 'contraband_found', 'date_stop', 'date_time',
       'obtained_consent', 'property_seized', 'sd_resident', 'search_basis',
       'search_type', 'searched', 'service_area', 'stop_cause', 'stop_id',
       'subject_age', 'subject_race', 'subject_sex', 'time_stop', 'state',
       'city'],
      dtype='object')

In [68]:
san_diego.head()

,action,arrested,contraband_found,date_stop,date_time,obtained_consent,property_seized,sd_resident,search_basis,search_type,searched,service_area,stop_cause,stop_id,subject_age,subject_race,subject_sex,time_stop,state,city
0,NaN,N,N,2014-01-01,2014-01-01 01:25:00,N,N,Y,NaN,NaN,N,110,Moving Violation,1044975,24,W,M,1:25,california,san diego
1,NaN,N,NaN,2014-01-01,2014-01-01 05:47:00,NaN,NaN,Y,NaN,NaN,N,320,Moving Violation,1044976,42,W,M,5:47,california,san diego
2,NaN,N,NaN,2014-01-01,2014-01-01 07:46:00,NaN,NaN,Y,NaN,NaN,N,320,Moving Violation,1044977,29,L,M,7:46,california,san diego
3,NaN,N,NaN,2014-01-01,2014-01-01 08:10:00,NaN,NaN,Y,NaN,NaN,N,610,Moving Violation,1044978,23,W,M,8:10,california,san diego
4,NaN,N,NaN,2014-01-01,2014-01-01 08:35:00,NaN,NaN,N,NaN,NaN,N,930,Equipment Violation,1044980,35,H,M,8:35,california,san diego

In [69]:
san_diego = san_diego.rename({
    "subject_sex":"sex",
    "subject_race":"race",
    "subject_age":"age_group",
    "stop_cause":"offense category",
    "date_time":"date",
    "stop_id":"key"
},axis  = 1)

In [70]:
dc.columns

Index(['Arrestee Type', 'Arrest Year', 'Arrest Date', 'Arrest Hour', 'CCN',
       'Arrest Number#', 'Age', 'Defendant PSA', 'Defendant District',
       'Defendant Race', 'Defendant Ethnicity', 'Defendant Sex',
       'Arrest Category', 'Charge Description', 'Arrest Location PSA',
       'Arrest Location District', 'Arrest Location Block GeoX',
       'Arrest Location Block GeoY', 'Offense GEOY', 'Offense GEOX',
       'Offense PSA', 'Offense District', 'Arrest Latitude',
       'Arrest Longitude', 'Offense Latitude', 'Offense Longitude', 'state',
       'city'],
      dtype='object')

In [71]:
dc['Charge Description'].head()

0                Ucsa Possession Marijuana
1                           Simple Assault
2    Ucsa Possession Cocaine/crack Cocaine
3                           Simple Assault
4                      Dui - Refusing Test
Name: Charge Description, dtype: object

In [72]:
dc = dc.rename({
    "Arrest Date":"date",
    'Arrest Number#':'key',
    "Age":"age_group",
    'Defendant Race': "race",
    'Defendant Sex':'sex',
    'Charge Description' : 'offense category',
    'Arrest Location Block GeoX':'geo_x',
    'Arrest Location Block GeoY':'geo_y'
},axis = 1)

In [73]:
nypd.columns

Index(['index', 'ARREST_KEY', 'ARREST_DATE', 'PD_CD', 'PD_DESC', 'KY_CD',
       'OFNS_DESC', 'LAW_CODE', 'LAW_CAT_CD', 'ARREST_BORO', 'ARREST_PRECINCT',
       'JURISDICTION_CODE', 'AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'X_COORD_CD',
       'Y_COORD_CD', 'Latitude', 'Longitude', 'org_index', 'zipcode'],
      dtype='object')

In [74]:
nypd.head()

,index,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,...,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,org_index,zipcode
0,0,173130602,12/31/2017,566.0,"MARIJUANA, POSSESSION",678.0,MISCELLANEOUS PENAL LAW,PL 2210500,V,Q,...,0.0,25-44,M,BLACK,1063056.0,207463.0,40.735772,-73.715638,0.0,11426
1,1,173114463,12/31/2017,478.0,"THEFT OF SERVICES, UNCLASSIFIED",343.0,OTHER OFFENSES RELATED TO THEFT,PL 1651503,M,Q,...,0.0,25-44,M,ASIAN / PACIFIC ISLANDER,1009113.0,219613.0,40.769437,-73.910241,1.0,11105
2,2,173113513,12/31/2017,849.0,"NY STATE LAWS,UNCLASSIFIED VIOLATION",677.0,OTHER STATE LAWS,LOC000000V,V,K,...,1.0,18-24,M,BLACK,1010719.0,186857.0,40.679525,-73.904572,2.0,11207
3,3,173113423,12/31/2017,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,...,0.0,25-44,M,WHITE,987831.0,217446.0,40.763523,-73.987074,3.0,10019
4,4,173113421,12/31/2017,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,...,0.0,45-64,M,BLACK,987073.0,216078.0,40.759768,-73.989811,4.0,10036

In [75]:
nypd = nypd.rename({
    "ARREST_KEY":"key",
    "ARREST_DATE":"date",
    'PERP_SEX':'sex',
    'PERP_RACE':'race',
    'AGE_GROUP':"age_group",
    'OFNS_DESC' : "offense category",
    'X_COORD_CD':'geo_x',
    'Y_COORD_CD':'geo_y'
},axis=1)

In [76]:
phoenix.columns

Index(['INC NUMBER', 'OCCURRED ON', 'OCCURRED TO', 'UCR CRIME CATEGORY',
       '100 BLOCK ADDR', 'ZIP', 'PREMISE TYPE', 'state', 'city'],
      dtype='object')

In [77]:
phoenix.head()

,INC NUMBER,OCCURRED ON,OCCURRED TO,UCR CRIME CATEGORY,100 BLOCK ADDR,ZIP,PREMISE TYPE,state,city
0,201500002103724,11/01/2015 00:00,11/01/2015 15:21,DRUG OFFENSE,54XX W INDIAN SCHOOL RD,85031.0,APARTMENT,arizona,phoenix
1,201700001722914,11/01/2015 00:00,NaN,LARCENY-THEFT,279XX N 23RD LN,85085.0,SINGLE FAMILY HOUSE,arizona,phoenix
2,201500002168686,11/01/2015 00:00,11/11/2015 09:30,LARCENY-THEFT,14XX E HIGHLAND AVE,85014.0,PARKING LOT,arizona,phoenix
3,201500002102327,11/01/2015 00:00,11/01/2015 09:00,LARCENY-THEFT,51XX N 15TH ST,85014.0,APARTMENT,arizona,phoenix
4,201700001603695,11/01/2015 00:00,03/31/2016 00:00,RAPE,38XX W CAMELBACK RD,85019.0,HOSPITAL,arizona,phoenix

In [78]:
phoenix = phoenix.rename({
    "INC NUMBER":"key",
    "OCCURRED ON":"date",
    "UCR CRIME CATEGORY":"offence category",
    "ZIP":"zipcode",
    
},axis=1)

In [79]:
denver.columns

Index(['INCIDENT_ID', 'OFFENSE_ID', 'OFFENSE_CODE', 'OFFENSE_CODE_EXTENSION',
       'OFFENSE_TYPE_ID', 'OFFENSE_CATEGORY_ID', 'FIRST_OCCURRENCE_DATE',
       'LAST_OCCURRENCE_DATE', 'REPORTED_DATE', 'INCIDENT_ADDRESS', 'GEO_X',
       'GEO_Y', 'GEO_LON', 'GEO_LAT', 'DISTRICT_ID', 'PRECINCT_ID',
       'NEIGHBORHOOD_ID', 'IS_CRIME', 'IS_TRAFFIC', 'state', 'city'],
      dtype='object')

In [80]:
denver.head()

,INCIDENT_ID,OFFENSE_ID,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,...,GEO_Y,GEO_LON,GEO_LAT,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC,state,city
0,2018869789,2018869789239900,2399,0,theft-other,larceny,12/27/2018 3:58:00 PM,NaN,12/27/2018 4:51:00 PM,2681 N HANOVER CT,...,1700715.0,-104.866156,39.755561,5,512,stapleton,1,0,colorado,denver
1,2015664356,2015664356544100,5441,0,traffic-accident,traffic-accident,11/13/2015 7:45:00 AM,NaN,11/13/2015 8:38:00 AM,4100 BLOCK W COLFAX AVE,...,1694748.0,-105.040760,39.739991,1,122,west-colfax,0,1,colorado,denver
2,20176005213,20176005213239901,2399,1,theft-bicycle,larceny,6/8/2017 1:15:00 PM,6/8/2017 5:15:00 PM,6/12/2017 8:44:00 AM,1705 17TH ST,...,1699792.0,-104.999264,39.753669,6,612,union-station,1,0,colorado,denver
3,20196012240,20196012240230800,2308,0,theft-from-bldg,larceny,12/7/2019 1:07:00 PM,12/7/2019 6:30:00 PM,12/9/2019 1:35:00 PM,1350 N IRVING ST,...,1694088.0,-105.029208,39.738134,1,122,west-colfax,1,0,colorado,denver
4,2018861883,2018861883501600,5016,0,violation-of-restraining-order,all-other-crimes,12/22/2018 8:15:00 PM,12/22/2018 8:31:00 PM,12/22/2018 10:00:00 PM,13625 E RANDOLPH PL,...,1716158.0,-104.828868,39.797750,5,521,montbello,1,0,colorado,denver

In [81]:
denver = denver.rename({
    "INCIDENT_ID":"key",
    'OFFENSE_CATEGORY_ID':'offense category',
    'REPORTED_DATE' : 'date',
    'GEO_X':'geo_x',
    'GEO_Y':'geo_y'  
},axis=1)

In [82]:
chicago.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location', 'state', 'city'],
      dtype='object')

In [83]:
chicago.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,state,city
0,11034701,JA366925,01/01/2001 11:00:00 AM,016XX E 86TH PL,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,11,NaN,NaN,2001,08/05/2017 03:50:08 PM,NaN,NaN,NaN,illinios,chicago
1,11227287,JB147188,10/08/2017 03:00:00 AM,092XX S RACINE AVE,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,False,...,02,NaN,NaN,2017,02/11/2018 03:57:41 PM,NaN,NaN,NaN,illinios,chicago
2,11227583,JB147595,03/28/2017 02:00:00 PM,026XX W 79TH ST,0620,BURGLARY,UNLAWFUL ENTRY,OTHER,False,False,...,05,NaN,NaN,2017,02/11/2018 03:57:41 PM,NaN,NaN,NaN,illinios,chicago
3,11227293,JB147230,09/09/2017 08:17:00 PM,060XX S EBERHART AVE,0810,THEFT,OVER $500,RESIDENCE,False,False,...,06,NaN,NaN,2017,02/11/2018 03:57:41 PM,NaN,NaN,NaN,illinios,chicago
4,11227634,JB147599,08/26/2017 10:00:00 AM,001XX W RANDOLPH ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL/MOTEL,False,False,...,02,NaN,NaN,2017,02/11/2018 03:57:41 PM,NaN,NaN,NaN,illinios,chicago

In [84]:
chicago = chicago.rename({
    'ID':'key',
    'Date':'date',
    'Description':'offense category',
    
},axis=1)

In [85]:

fortsworth.columns

Index(['Case and Offense', 'Case Number', 'Reported Date', 'Nature Of Call',
       'From Date', 'Offense', 'Description', 'Block Address', 'City', 'State',
       'Beat', 'Division', 'Council District', 'Attempt Complete',
       'Location Type', 'Location Description', 'Location', 'state', 'city'],
      dtype='object')

In [86]:
fortsworth.head()

,Case and Offense,Case Number,Reported Date,Nature Of Call,From Date,Offense,Description,Block Address,City,State,Beat,Division,Council District,Attempt Complete,Location Type,Location Description,Location,state,city
0,180088607-240,180088607,10/02/2018,AUTO THEFT,10/02/2018 10:45:58 AM,240,PC 31.03(E)(4)(A)AUTO2015 Theft Prop>=$2500<$3...,0 050 OAKLAND HILLS,FORT WORTH,TX,L14,NaN,NaN,C,20.0,20 RESIDENCE/HOME,"(32.763500233619105, -97.22562762707469)",texas,fortsworth
1,180088609-220,180088609,10/02/2018,BURGLARY RESIDENTIAL,09/21/2018 11:42:00 AM,220,PC 30.02(C)(2) Burglary Habitation 220 BURGLAR...,4600 AVE M,FORT WORTH,TX,G15,East,5.0,C,20.0,20 RESIDENCE/HOME,"(32.72471311948066, -97.25564026814881)",texas,fortsworth
2,180088611-220,180088611,10/02/2018,BURGLARY RESIDENTIAL,10/02/2018 11:58:00 AM,220,PC 30.02(C)(2) Burglary Habitation 220 BURGLAR...,2300 SALISBURY AVE,FORT WORTH,TX,C11,NaN,NaN,C,20.0,20 RESIDENCE/HOME,"(32.79462880029484, -97.32808879422542)",texas,fortsworth
3,180088613-23F,180088613,10/02/2018,BURGLARY VEHICLE,10/02/2018 11:00:00 AM,23F,PC 30.04(A) Burglary Vehicle 23F THEFT FROM MOTOR,4500 GATEWAY PARK DR,FORT WORTH,TX,A17,Central,4.0,C,50.0,50 PARK/PLAYGROUND,"(32.756160364884, -97.28186033739242)",texas,fortsworth
4,180088617-23C,180088617,10/02/2018,THEFT,10/02/2018 11:50:00 AM,23C,GC 085-08 Theft of Service under $100 23C SHOP...,6000 CAMP BOWIE BLVD,FORT WORTH,TX,K16,West,3.0,C,7.0,07 CONVENIENCE STORE,"(32.729452936986235, -97.41341107536594)",texas,fortsworth

In [87]:
fortsworth = fortsworth.rename({
    'Case Number':"key",
    'From Date': 'date',
    'Nature Of Call' : 'offense category'
},axis=1)

In [88]:
LA['city'] = 'los angeles'

In [89]:
LA.columns

Index(['Report ID', 'Arrest Date', 'Time', 'Area ID', 'Area Name',
       'Reporting District', 'Age', 'Sex Code', 'Descent Code',
       'Charge Group Code', 'Charge Group Description', 'Arrest Type Code',
       'Charge', 'Charge Description', 'Address', 'Cross Street', 'Location',
       'state', 'city'],
      dtype='object')

In [90]:
LA.head()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location,state,city
0,5805106,11/21/2019,2100.0,3,Southwest,328,25,M,B,5.0,Burglary,F,459PC,BURGLARY,32ND,HOOVER,"(34.0255, -118.2839)",california,los angeles
1,190127182,10/03/2019,1000.0,1,Central,119,30,M,B,20.0,Disorderly Conduct,M,640(D)(3)PC,URINTATIN/DEFECATING ON TRAIN OR SYSTEM,800 N ALAMEDA ST,NaN,"(34.0563, -118.2374)",california,los angeles
2,191119468,11/13/2019,1500.0,11,Northeast,1102,39,F,O,NaN,NaN,M,459.2PC,NaN,2900 LOS FELIZ BL,NaN,"(34.1367, -118.2713)",california,los angeles
3,4265695,03/11/2015,1315.0,21,Topanga,2118,34,F,B,3.0,Robbery,F,211PC,ROBBERY,ROSCOE BL,WINNETKA AV,"(34.2202, -118.571)",california,los angeles
4,4280871,03/26/2015,1200.0,21,Topanga,2172,17,M,H,3.0,Robbery,F,211PC,ROBBERY,5400 VALLEY CIRCLE DR,NaN,"(34.1684, -118.6426)",california,los angeles

In [91]:
LA = LA.rename({
    'Report ID':'key',
    'Arrest Date':'date',
    'Age':'age',
    'Sex Code':'sex'
},axis=1)

In [92]:
%%time
portland.to_csv('master/portland_master.csv',index=False)
san_jose.to_csv('master/san_jose_master.csv',index=False)
san_diego.to_csv('master/san_diego_master.csv',index = False)
dc.to_csv('master/dc_master.csv',index=False)
nypd.to_csv('master/nypd.csv',index = False)
phoenix.to_csv('master/phoenix.csv',index=False)
denver.to_csv('master/denver_master.csv',index = False)
chicago.to_csv('master/chicago_master.csv',index = False)
fortsworth.to_csv('master/fortsworth_master.csv',index = False)
LA.to_csv('master/LA_master.csv',index = False)

CPU times: user 4min 35s, sys: 7.75 s, total: 4min 42s
Wall time: 4min 54s

In [93]:
denver.columns

Index(['key', 'OFFENSE_ID', 'OFFENSE_CODE', 'OFFENSE_CODE_EXTENSION',
       'OFFENSE_TYPE_ID', 'offense category', 'FIRST_OCCURRENCE_DATE',
       'LAST_OCCURRENCE_DATE', 'date', 'INCIDENT_ADDRESS', 'geo_x', 'geo_y',
       'GEO_LON', 'GEO_LAT', 'DISTRICT_ID', 'PRECINCT_ID', 'NEIGHBORHOOD_ID',
       'IS_CRIME', 'IS_TRAFFIC', 'state', 'city'],
      dtype='object')

In [94]:
denver.head()

,key,OFFENSE_ID,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,offense category,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,date,INCIDENT_ADDRESS,...,geo_y,GEO_LON,GEO_LAT,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC,state,city
0,2018869789,2018869789239900,2399,0,theft-other,larceny,12/27/2018 3:58:00 PM,NaN,12/27/2018 4:51:00 PM,2681 N HANOVER CT,...,1700715.0,-104.866156,39.755561,5,512,stapleton,1,0,colorado,denver
1,2015664356,2015664356544100,5441,0,traffic-accident,traffic-accident,11/13/2015 7:45:00 AM,NaN,11/13/2015 8:38:00 AM,4100 BLOCK W COLFAX AVE,...,1694748.0,-105.040760,39.739991,1,122,west-colfax,0,1,colorado,denver
2,20176005213,20176005213239901,2399,1,theft-bicycle,larceny,6/8/2017 1:15:00 PM,6/8/2017 5:15:00 PM,6/12/2017 8:44:00 AM,1705 17TH ST,...,1699792.0,-104.999264,39.753669,6,612,union-station,1,0,colorado,denver
3,20196012240,20196012240230800,2308,0,theft-from-bldg,larceny,12/7/2019 1:07:00 PM,12/7/2019 6:30:00 PM,12/9/2019 1:35:00 PM,1350 N IRVING ST,...,1694088.0,-105.029208,39.738134,1,122,west-colfax,1,0,colorado,denver
4,2018861883,2018861883501600,5016,0,violation-of-restraining-order,all-other-crimes,12/22/2018 8:15:00 PM,12/22/2018 8:31:00 PM,12/22/2018 10:00:00 PM,13625 E RANDOLPH PL,...,1716158.0,-104.828868,39.797750,5,521,montbello,1,0,colorado,denver