### 1. select age_group,count(*) as offense_count  from crime_in_cities  where city = "new_york" group by age_group order by offense_count DESC limit 5;

### 2. select * from (select YEAR(str_to_date(date,"%d/%m/%Y")) as year, count(*) as offense_count from crime_in_cities where city = "portland" group by year order by offense_count desc limit 5) as q where q.year is  not NULL ;

### 3. select race, count(*) as arrest_count from crime_in_cities where city = "san diego" group by race order by arrest_count desc limit 5;